In [1]:
import pandas as pd
import gc
from sqlalchemy import create_engine
import numpy as np
import psycopg2.extras as extras
#import psycopg2




engine = create_engine('postgresql://postgres:123@localhost:5432/IMDB1')
conn=engine.connect()
connn=engine.connect()

In [ ]:
stmt="""
 CREATE TABLE title_basic(
        title_id       varchar(256) NOT NULL,
        titleType      varchar(256) NOT NULL,
        Name           varchar(500) NOT NULL,
        isAdult        boolean NULL,
        startYear      date NULL,
        endYear        date NULL,
        averageRating  numeric NULL,
        numVotes       int NULL,
        CONSTRAINT PK_61 PRIMARY KEY ( title_id )
);
    CREATE TABLE runtimeminutes(
        runtime_id   varchar(256),
        runtimeminutes varchar(256) NOT NULL,
        title_id varchar(256) NOT NULL,
        CONSTRAINT PK_72 PRIMARY KEY ( runtime_id ),
        CONSTRAINT FK_81 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);

    Drop table if exists genres;
    CREATE TABLE genres(
        genre_id   serial NOT NULL,
        genre_type varchar(256) NOT NULL,
        CONSTRAINT PK_75 PRIMARY KEY ( genre_id )
);

    drop table if exists title_genre;
    CREATE TABLE title_genre(
        title_genre_id serial NOT NULL,
        genre_id       serial NOT NULL,
        title_id       varchar(256) NOT NULL,
        CONSTRAINT PK_71 PRIMARY KEY ( title_genre_id ),
        CONSTRAINT FK_111 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id ),
        CONSTRAINT FK_80 FOREIGN KEY ( genre_id ) REFERENCES genres ( genre_id )
);

    CREATE TABLE tv_episode(
        "id"              varchar(256) NOT NULL,
        title_id        varchar(256) NOT NULL,
        parent_title_id varchar(256) NOT NULL,
        seasonNumber    int NOT NULL,
        episodeNumber   int NOT NULL,
        CONSTRAINT PK_158 PRIMARY KEY ( "id" ),
        CONSTRAINT FK_188 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);
    DROP TABLE IF EXISTS title_akas;
    CREATE TABLE title_akas(
        uid             serial NOT NULL,
        title_id        varchar(256) NOT NULL,
        title           text NULL,
        region          varchar(256) NULL,
        language        varchar(4000) NULL,
        "attributes"      varchar(4000) NULL,
        isOriginalTitle boolean NULL,
        CONSTRAINT PK_199 PRIMARY KEY ( uid ),
        CONSTRAINT FK_206 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);    
   DROP TABLE IF EXISTS type;
    CREATE TABLE type(
        type_id serial NOT NULL,
        type    varchar(256) NOT NULL,
        CONSTRAINT PK_216 PRIMARY KEY ( type_id )
);

    DROP TABLE IF EXISTS title_type;
    CREATE TABLE title_type(
        title_type_id serial NOT NULL,
        uid           serial NOT NULL,
        type_id       serial NOT NULL,
        CONSTRAINT PK_211 PRIMARY KEY ( title_type_id ),
        CONSTRAINT FK_218 FOREIGN KEY ( type_id ) REFERENCES type ( type_id ),
        CONSTRAINT FK_251 FOREIGN KEY ( uid ) REFERENCES title_akas ( uid )
);

    CREATE TABLE review(
        review_id varchar(256) NOT NULL,
        review    text NOT NULL,
        CONSTRAINT PK_263 PRIMARY KEY ( review_id )
);

    CREATE TABLE title_review(
        title_review_id varchar(256) NOT NULL,
        title_id        varchar(256) NOT NULL,
        review_id       varchar(256) NOT NULL,
        CONSTRAINT PK_257 PRIMARY KEY ( title_review_id ),
        CONSTRAINT FK_265 FOREIGN KEY ( review_id ) REFERENCES review ( review_id ),
        CONSTRAINT FK_268 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);  

    CREATE TABLE crew_basics(
        crew_id   varchar(256) NOT NULL,
        name      varchar(256) NOT NULL,
        birthYear date ,
        deathYear date ,
        CONSTRAINT PK_23 PRIMARY KEY ( crew_id )
);


    DROP TABLE IF EXISTS principals;
    CREATE TABLE principals(
        title_crew_id serial NOT NULL,
        title_id      varchar(256) NOT NULL,
        crew_id       varchar(256) NOT NULL,
        category      varchar(4000) NOT NULL,
        job           varchar(4000) NULL,
        CONSTRAINT PK_12 PRIMARY KEY ( title_crew_id ),
        CONSTRAINT FK_114 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id ),
        CONSTRAINT FK_44 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id )
);


    drop table if exists title_director;
    CREATE TABLE title_director(
        title_director_id serial NOT NULL,
        title_id          varchar(256) NULL,
        director_id       varchar(256) NULL,
        CONSTRAINT PK_130 PRIMARY KEY ( title_director_id ),
        CONSTRAINT FK_136 FOREIGN KEY ( director_id ) REFERENCES crew_basics ( crew_id ),
        CONSTRAINT FK_139 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);

    drop table if exists knownfor titles;
    CREATE TABLE knownForTitles(
        crew_title_id serial NOT NULL,
        crew_id       varchar(256) NOT NULL,
        title_id      varchar(256) NOT NULL,
        CONSTRAINT PK_49 PRIMARY KEY ( crew_title_id ),
        CONSTRAINT FK_151 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id )
);

    DROP TABLE IF EXISTS profession;
    CREATE TABLE profession (
        profession_id   serial NOT NULL,
        profession_type varchar(256) NOT NULL,
        CONSTRAINT PK_30 PRIMARY KEY ( profession_id )
);

    DROP TABLE IF EXISTS crew_profession;
    CREATE TABLE crew_profession(
        crew_profession_id serial NOT NULL,
        crew_id            varchar(256) NOT NULL,
        profession_id      serial NOT NULL,
        CONSTRAINT PK_119 PRIMARY KEY ( crew_profession_id ),
        CONSTRAINT FK_122 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id ),
        CONSTRAINT FK_125 FOREIGN KEY ( profession_id ) REFERENCES profession ( profession_id )
);
"""
cur.execute(stmt)
connn.commit()